In [122]:
from pyeto import fao
import pandas as pd
import numpy as np

In [123]:
data = pd.read_csv('rubaitvai.csv')
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,logitude,altitude,net_rad,net_in_sol_rad,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp
0,1/6/2022,32,27,29.5,152,NaN,1.288582,103.869204,7.0,NaN,NaN,NaN,NaN,NaN,12.2311,NaN,NaN,NaN,NaN,NaN
1,2/6/2022,33,27,30.0,153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2317,NaN,NaN,NaN,NaN,NaN
2,3/6/2022,31,25,28.0,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2325,NaN,NaN,NaN,NaN,NaN
3,4/6/2022,32,25,28.5,155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2331,NaN,NaN,NaN,NaN,NaN
4,5/6/2022,32,25,28.5,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2333,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2178,NaN,NaN,NaN,NaN,NaN
57,28/7/2022,33,28,30.5,209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2167,NaN,NaN,NaN,NaN,NaN
58,29/7/2022,32,25,28.5,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2158,NaN,NaN,NaN,NaN,NaN
59,30/7/2022,32,25,28.5,211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2147,NaN,NaN,NaN,NaN,NaN
60,31/7/2022,32,27,29.5,212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2136,NaN,NaN,NaN,NaN,NaN

In [124]:
sol_dec = []
day = data.day_of_the_year
day = np.array(day)

for i in day:
    sd = fao.sol_dec(i)
    sol_dec.append(sd)

df = pd.DataFrame({'sol_dec': sol_dec})
data.sol_dec = df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,logitude,altitude,net_rad,net_in_sol_rad,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,7.0,NaN,NaN,NaN,NaN,NaN,12.2311,NaN,NaN,NaN,NaN,NaN
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2317,NaN,NaN,NaN,NaN,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2325,NaN,NaN,NaN,NaN,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2331,NaN,NaN,NaN,NaN,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2333,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2178,NaN,NaN,NaN,NaN,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2167,NaN,NaN,NaN,NaN,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2158,NaN,NaN,NaN,NaN,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2147,NaN,NaN,NaN,NaN,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2136,NaN,NaN,NaN,NaN,NaN

In [125]:
avp = []
tmin = data.Min
tmin = np.array(tmin)

for i in tmin:
    x = fao.avp_from_tmin(i)
    avp.append(x)
avp_df = pd.DataFrame({'avp': avp})

data.avp = avp_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,logitude,altitude,net_rad,net_in_sol_rad,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,7.0,NaN,NaN,NaN,NaN,NaN,12.2311,NaN,NaN,NaN,NaN,3.566508
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2317,NaN,NaN,NaN,NaN,3.566508
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2325,NaN,NaN,NaN,NaN,3.168815
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2331,NaN,NaN,NaN,NaN,3.168815
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2333,NaN,NaN,NaN,NaN,3.168815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2178,NaN,NaN,NaN,NaN,3.362540
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2167,NaN,NaN,NaN,NaN,3.781168
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2158,NaN,NaN,NaN,NaN,3.168815
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2147,NaN,NaN,NaN,NaN,3.168815
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2136,NaN,NaN,NaN,NaN,3.566508

In [126]:
sunset_hour_angle = []
ladi = 1.288582

for i in sol_dec:
    sha = fao.sunset_hour_angle(ladi, i)
    sunset_hour_angle.append(sha)

sha_df = pd.DataFrame({'sunset_hour_angle': sunset_hour_angle})
data.sunset_hour_angle = sha_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,logitude,altitude,net_rad,net_in_sol_rad,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,7.0,NaN,NaN,NaN,NaN,NaN,12.2311,NaN,3.141593,NaN,NaN,3.566508
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2317,NaN,3.141593,NaN,NaN,3.566508
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2325,NaN,3.141593,NaN,NaN,3.168815
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2331,NaN,3.141593,NaN,NaN,3.168815
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2333,NaN,3.141593,NaN,NaN,3.168815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2178,NaN,3.141593,NaN,NaN,3.362540
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2167,NaN,3.141593,NaN,NaN,3.781168
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2158,NaN,3.141593,NaN,NaN,3.168815
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2147,NaN,3.141593,NaN,NaN,3.168815
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2136,NaN,3.141593,NaN,NaN,3.566508

In [127]:
daylight_hours = []

for i in sunset_hour_angle:
    dh = fao.daylight_hours(i)
    daylight_hours.append(dh)
dh_df = pd.DataFrame({'daylight_hours': daylight_hours})
data.daylight_hours = dh_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,logitude,altitude,net_rad,net_in_sol_rad,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,7.0,NaN,NaN,NaN,NaN,24.0,12.2311,NaN,3.141593,NaN,NaN,3.566508
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2317,NaN,3.141593,NaN,NaN,3.566508
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2325,NaN,3.141593,NaN,NaN,3.168815
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2331,NaN,3.141593,NaN,NaN,3.168815
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2333,NaN,3.141593,NaN,NaN,3.168815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2178,NaN,3.141593,NaN,NaN,3.362540
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2167,NaN,3.141593,NaN,NaN,3.781168
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2158,NaN,3.141593,NaN,NaN,3.168815
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2147,NaN,3.141593,NaN,NaN,3.168815
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2136,NaN,3.141593,NaN,NaN,3.566508

In [128]:
ird = []

for i in day:
    ird_val = fao.inv_rel_dist_earth_sun(i)
    ird.append(ird_val)

ird_df = pd.DataFrame({'ird': ird})
data.ird = ird_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,logitude,altitude,net_rad,net_in_sol_rad,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,7.0,NaN,NaN,NaN,NaN,24.0,12.2311,NaN,3.141593,0.971445,NaN,3.566508
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2317,NaN,3.141593,0.971164,NaN,3.566508
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2325,NaN,3.141593,0.970892,NaN,3.168815
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2331,NaN,3.141593,0.970629,NaN,3.168815
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2333,NaN,3.141593,0.970374,NaN,3.168815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2178,NaN,3.141593,0.970129,NaN,3.362540
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2167,NaN,3.141593,0.970374,NaN,3.781168
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2158,NaN,3.141593,0.970629,NaN,3.168815
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2147,NaN,3.141593,0.970892,NaN,3.168815
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2136,NaN,3.141593,0.971164,NaN,3.566508

In [129]:
et_rad = []

for i in range(61):
    etrad = fao.et_rad(ladi, sol_dec[i], sunset_hour_angle[i], ird[i])
    et_rad.append(etrad)

et_rad_df = pd.DataFrame({'et_rad': et_rad})

data.et_rad = et_rad_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,logitude,altitude,net_rad,net_in_sol_rad,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,7.0,NaN,NaN,NaN,NaN,24.0,12.2311,41.376072,3.141593,0.971445,NaN,3.566508
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2317,41.600717,3.141593,0.971164,NaN,3.566508
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2325,41.813680,3.141593,0.970892,NaN,3.168815
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2331,42.014944,3.141593,0.970629,NaN,3.168815
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2333,42.204494,3.141593,0.970374,NaN,3.168815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2178,35.956800,3.141593,0.970129,NaN,3.362540
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2167,35.535168,3.141593,0.970374,NaN,3.781168
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2158,35.102861,3.141593,0.970629,NaN,3.168815
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2147,34.659952,3.141593,0.970892,NaN,3.168815
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,12.2136,34.206517,3.141593,0.971164,NaN,3.566508

In [130]:
sol_rad = []
sunshine_hours = data['sunshine hours']
sunshine_hours = np.array(sunshine_hours)

for i in range(61):
    solrad = fao.sol_rad_from_sun_hours(daylight_hours[i],sunshine_hours[i],et_rad[i])
    sol_rad.append(solrad)

sol_rad_df = pd.DataFrame({'sol_rad' : sol_rad})
data.sol_rad = sol_rad_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,logitude,altitude,net_rad,net_in_sol_rad,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,7.0,NaN,NaN,NaN,20.887245,24.0,12.2311,41.376072,3.141593,0.971445,NaN,3.566508
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,NaN,NaN,21.001169,24.0,12.2317,41.600717,3.141593,0.971164,NaN,3.566508
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,NaN,NaN,21.109375,24.0,12.2325,41.813680,3.141593,0.970892,NaN,3.168815
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,NaN,NaN,21.211507,24.0,12.2331,42.014944,3.141593,0.970629,NaN,3.168815
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,NaN,NaN,21.307378,24.0,12.2333,42.204494,3.141593,0.970374,NaN,3.168815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,NaN,NaN,18.141554,24.0,12.2178,35.956800,3.141593,0.970129,NaN,3.362540
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,NaN,NaN,17.928010,24.0,12.2167,35.535168,3.141593,0.970374,NaN,3.781168
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,NaN,NaN,17.709247,24.0,12.2158,35.102861,3.141593,0.970629,NaN,3.168815
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,NaN,NaN,17.485007,24.0,12.2147,34.659952,3.141593,0.970892,NaN,3.168815
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,NaN,NaN,17.255478,24.0,12.2136,34.206517,3.141593,0.971164,NaN,3.566508

In [131]:
cs_rad = []
alti = 7.0
for i in range(61):
    csrad = fao.cs_rad(alti,et_rad[i])
    cs_rad.append(csrad)

cs_rad_df = pd.DataFrame({'cs_rad' : cs_rad})

data.cs_rad = cs_rad_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,logitude,altitude,net_rad,net_in_sol_rad,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,7.0,NaN,NaN,NaN,20.887245,24.0,12.2311,41.376072,3.141593,0.971445,31.037847,3.566508
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,NaN,NaN,21.001169,24.0,12.2317,41.600717,3.141593,0.971164,31.206362,3.566508
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,NaN,NaN,21.109375,24.0,12.2325,41.813680,3.141593,0.970892,31.366114,3.168815
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,NaN,NaN,21.211507,24.0,12.2331,42.014944,3.141593,0.970629,31.517090,3.168815
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,NaN,NaN,21.307378,24.0,12.2333,42.204494,3.141593,0.970374,31.659279,3.168815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,NaN,NaN,18.141554,24.0,12.2178,35.956800,3.141593,0.970129,26.972634,3.362540
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,NaN,NaN,17.928010,24.0,12.2167,35.535168,3.141593,0.970374,26.656351,3.781168
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,NaN,NaN,17.709247,24.0,12.2158,35.102861,3.141593,0.970629,26.332060,3.168815
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,NaN,NaN,17.485007,24.0,12.2147,34.659952,3.141593,0.970892,25.999817,3.168815
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,NaN,NaN,17.255478,24.0,12.2136,34.206517,3.141593,0.971164,25.659677,3.566508

In [132]:
data.to_csv('rubaitvaiupdate.csv',index=False)