In [50]:
from pyeto import fao
import pandas as pd
import numpy as np

In [51]:
data = pd.read_csv('rubaitvai.csv')
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,NaN,1.288582,103.869204,9.108778,NaN,...,NaN,NaN,NaN,12.2311,NaN,NaN,NaN,NaN,NaN,-0.02249
1,2/6/2022,33,27,30.0,153,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2317,NaN,NaN,NaN,NaN,NaN,NaN
2,3/6/2022,31,25,28.0,154,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2325,NaN,NaN,NaN,NaN,NaN,NaN
3,4/6/2022,32,25,28.5,155,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2331,NaN,NaN,NaN,NaN,NaN,NaN
4,5/6/2022,32,25,28.5,156,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2333,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2178,NaN,NaN,NaN,NaN,NaN,NaN
57,28/7/2022,33,28,30.5,209,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2167,NaN,NaN,NaN,NaN,NaN,NaN
58,29/7/2022,32,25,28.5,210,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2158,NaN,NaN,NaN,NaN,NaN,NaN
59,30/7/2022,32,25,28.5,211,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2147,NaN,NaN,NaN,NaN,NaN,NaN
60,31/7/2022,32,27,29.5,212,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2136,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
sol_dec = []
day = data.day_of_the_year
day = np.array(day)

for i in day:
    sd = fao.sol_dec(i)
    sol_dec.append(sd)

df = pd.DataFrame({'sol_dec': sol_dec})
data.sol_dec = df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,NaN,NaN,NaN,12.2311,NaN,NaN,NaN,NaN,NaN,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2317,NaN,NaN,NaN,NaN,NaN,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2325,NaN,NaN,NaN,NaN,NaN,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2331,NaN,NaN,NaN,NaN,NaN,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2333,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2178,NaN,NaN,NaN,NaN,NaN,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2167,NaN,NaN,NaN,NaN,NaN,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2158,NaN,NaN,NaN,NaN,NaN,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2147,NaN,NaN,NaN,NaN,NaN,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2136,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
avp = []
tmin = data.Min
tmin = np.array(tmin)

for i in tmin:
    x = fao.avp_from_tmin(i)
    avp.append(x)
avp_df = pd.DataFrame({'avp': avp})

data.avp = avp_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,NaN,NaN,NaN,12.2311,NaN,NaN,NaN,NaN,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2317,NaN,NaN,NaN,NaN,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2325,NaN,NaN,NaN,NaN,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2331,NaN,NaN,NaN,NaN,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2333,NaN,NaN,NaN,NaN,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2178,NaN,NaN,NaN,NaN,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2167,NaN,NaN,NaN,NaN,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2158,NaN,NaN,NaN,NaN,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2147,NaN,NaN,NaN,NaN,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2136,NaN,NaN,NaN,NaN,3.566508,NaN

In [54]:
sunset_hour_angle = []
ladi = -0.022489999

for i in sol_dec:
    sha = fao.sunset_hour_angle(ladi, i)
    sunset_hour_angle.append(sha)

sha_df = pd.DataFrame({'sunset_hour_angle': sunset_hour_angle})
data.sunset_hour_angle = sha_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,NaN,NaN,NaN,12.2311,NaN,1.561681,NaN,NaN,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2317,NaN,1.561620,NaN,NaN,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2325,NaN,1.561562,NaN,NaN,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2331,NaN,1.561507,NaN,NaN,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2333,NaN,1.561455,NaN,NaN,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2178,NaN,1.563018,NaN,NaN,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2167,NaN,1.563122,NaN,NaN,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2158,NaN,1.563228,NaN,NaN,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2147,NaN,1.563336,NaN,NaN,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.2136,NaN,1.563447,NaN,NaN,3.566508,NaN

In [55]:
daylight_hours = []

for i in sunset_hour_angle:
    dh = fao.daylight_hours(i)
    daylight_hours.append(dh)
dh_df = pd.DataFrame({'daylight_hours': daylight_hours})
data.daylight_hours = dh_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,NaN,NaN,11.930365,12.2311,NaN,1.561681,NaN,NaN,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,NaN,NaN,11.929900,12.2317,NaN,1.561620,NaN,NaN,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,NaN,NaN,11.929458,12.2325,NaN,1.561562,NaN,NaN,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,NaN,NaN,11.929038,12.2331,NaN,1.561507,NaN,NaN,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,NaN,NaN,11.928641,12.2333,NaN,1.561455,NaN,NaN,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,NaN,NaN,11.940576,12.2178,NaN,1.563018,NaN,NaN,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,NaN,NaN,11.941371,12.2167,NaN,1.563122,NaN,NaN,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,NaN,NaN,11.942183,12.2158,NaN,1.563228,NaN,NaN,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,NaN,NaN,11.943010,12.2147,NaN,1.563336,NaN,NaN,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,NaN,NaN,11.943853,12.2136,NaN,1.563447,NaN,NaN,3.566508,NaN

In [56]:
ird = []

for i in day:
    ird_val = fao.inv_rel_dist_earth_sun(i)
    ird.append(ird_val)

ird_df = pd.DataFrame({'ird': ird})
data.ird = ird_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,NaN,NaN,11.930365,12.2311,NaN,1.561681,0.971445,NaN,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,NaN,NaN,11.929900,12.2317,NaN,1.561620,0.971164,NaN,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,NaN,NaN,11.929458,12.2325,NaN,1.561562,0.970892,NaN,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,NaN,NaN,11.929038,12.2331,NaN,1.561507,0.970629,NaN,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,NaN,NaN,11.928641,12.2333,NaN,1.561455,0.970374,NaN,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,NaN,NaN,11.940576,12.2178,NaN,1.563018,0.970129,NaN,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,NaN,NaN,11.941371,12.2167,NaN,1.563122,0.970374,NaN,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,NaN,NaN,11.942183,12.2158,NaN,1.563228,0.970629,NaN,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,NaN,NaN,11.943010,12.2147,NaN,1.563336,0.970892,NaN,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,NaN,NaN,11.943853,12.2136,NaN,1.563447,0.971164,NaN,3.566508,NaN

In [57]:
et_rad = []

for i in range(61):
    etrad = fao.et_rad(ladi, sol_dec[i], sunset_hour_angle[i], ird[i])
    et_rad.append(etrad)

et_rad_df = pd.DataFrame({'et_rad': et_rad})

data.et_rad = et_rad_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,NaN,NaN,11.930365,12.2311,33.348344,1.561681,0.971445,NaN,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,NaN,NaN,11.929900,12.2317,33.304090,1.561620,0.971164,NaN,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,NaN,NaN,11.929458,12.2325,33.261697,1.561562,0.970892,NaN,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,NaN,NaN,11.929038,12.2331,33.221199,1.561507,0.970629,NaN,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,NaN,NaN,11.928641,12.2333,33.182631,1.561455,0.970374,NaN,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,NaN,NaN,11.940576,12.2178,34.032375,1.563018,0.970129,NaN,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,NaN,NaN,11.941371,12.2167,34.095039,1.563122,0.970374,NaN,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,NaN,NaN,11.942183,12.2158,34.158708,1.563228,0.970629,NaN,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,NaN,NaN,11.943010,12.2147,34.223321,1.563336,0.970892,NaN,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,NaN,NaN,11.943853,12.2136,34.288818,1.563447,0.971164,NaN,3.566508,NaN

In [58]:
sol_rad = []
sunshine_hours = data['sunshine hours']
sunshine_hours = np.array(sunshine_hours)

for i in range(61):
    solrad = fao.sol_rad_from_sun_hours(daylight_hours[i],sunshine_hours[i],et_rad[i])
    sol_rad.append(solrad)

sol_rad_df = pd.DataFrame({'sol_rad' : sol_rad})
data.sol_rad = sol_rad_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,NaN,25.431573,11.930365,12.2311,33.348344,1.561681,0.971445,NaN,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,NaN,25.399327,11.929900,12.2317,33.304090,1.561620,0.971164,NaN,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,NaN,25.368743,11.929458,12.2325,33.261697,1.561562,0.970892,NaN,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,NaN,25.339290,11.929038,12.2331,33.221199,1.561507,0.970629,NaN,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,NaN,25.310718,11.928641,12.2333,33.182631,1.561455,0.970374,NaN,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,NaN,25.919345,11.940576,12.2178,34.032375,1.563018,0.970129,NaN,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,NaN,25.964339,11.941371,12.2167,34.095039,1.563122,0.970374,NaN,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,NaN,26.010350,11.942183,12.2158,34.158708,1.563228,0.970629,NaN,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,NaN,26.056761,11.943010,12.2147,34.223321,1.563336,0.970892,NaN,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,NaN,26.103812,11.943853,12.2136,34.288818,1.563447,0.971164,NaN,3.566508,NaN

In [59]:
cs_rad = []
alti = 7.0
for i in range(61):
    csrad = fao.cs_rad(alti,et_rad[i])
    cs_rad.append(csrad)

cs_rad_df = pd.DataFrame({'cs_rad' : cs_rad})

data.cs_rad = cs_rad_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,NaN,25.431573,11.930365,12.2311,33.348344,1.561681,0.971445,25.015927,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,NaN,25.399327,11.929900,12.2317,33.304090,1.561620,0.971164,24.982730,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,NaN,25.368743,11.929458,12.2325,33.261697,1.561562,0.970892,24.950929,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,NaN,25.339290,11.929038,12.2331,33.221199,1.561507,0.970629,24.920550,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,NaN,25.310718,11.928641,12.2333,33.182631,1.561455,0.970374,24.891619,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,NaN,25.919345,11.940576,12.2178,34.032375,1.563018,0.970129,25.529046,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,NaN,25.964339,11.941371,12.2167,34.095039,1.563122,0.970374,25.576053,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,NaN,26.010350,11.942183,12.2158,34.158708,1.563228,0.970629,25.623813,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,NaN,26.056761,11.943010,12.2147,34.223321,1.563336,0.970892,25.672282,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,NaN,26.103812,11.943853,12.2136,34.288818,1.563447,0.971164,25.721414,3.566508,NaN

In [60]:
# data.to_csv('rubaitvaiupdate.csv',index=False)
net_in_sol = []
for i in sol_rad:
    netsol = fao.net_in_sol_rad(i)
    net_in_sol.append(netsol)

net_in_sol_rad_df = pd.DataFrame({'net_in_sol_rad' : net_in_sol})
data.net_in_sol_rad = net_in_sol_rad_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,NaN,25.431573,11.930365,12.2311,33.348344,1.561681,0.971445,25.015927,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,NaN,25.399327,11.929900,12.2317,33.304090,1.561620,0.971164,24.982730,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,NaN,25.368743,11.929458,12.2325,33.261697,1.561562,0.970892,24.950929,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,NaN,25.339290,11.929038,12.2331,33.221199,1.561507,0.970629,24.920550,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,NaN,25.310718,11.928641,12.2333,33.182631,1.561455,0.970374,24.891619,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,NaN,25.919345,11.940576,12.2178,34.032375,1.563018,0.970129,25.529046,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,NaN,25.964339,11.941371,12.2167,34.095039,1.563122,0.970374,25.576053,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,NaN,26.010350,11.942183,12.2158,34.158708,1.563228,0.970629,25.623813,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,NaN,26.056761,11.943010,12.2147,34.223321,1.563336,0.970892,25.672282,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,NaN,26.103812,11.943853,12.2136,34.288818,1.563447,0.971164,25.721414,3.566508,NaN

In [61]:
data.columns

Index(['Date', 'Max', 'Min', 'Avg', 'day_of_the_year', 'sol_dec', 'latitude',
       'longitude', 'altitude', 'net_rad', 'net_in_sol_rad', 'net_out_lw_rad',
       'sol_rad', 'daylight_hours', 'sunshine hours', 'et_rad',
       'sunset_hour_angle', 'ird', 'cs_rad', 'avp', 'latitud(rad)'],
      dtype='object')

In [62]:
# print(sol_rad)
# print(tmin)
# print(cs_rad)
# print(avp)
tmax = np.array(data['Max'])
net_out_lw_rad = []

for i in range(61):
    netout = fao.net_out_lw_rad(tmin[i],tmax[i],sol_rad[i],cs_rad[i],avp[i])
    net_out_lw_rad.append(netout)


net_out_lw_rad_df = pd.DataFrame({'net_out_lw_rad' : net_out_lw_rad})
data.net_out_lw_rad = net_out_lw_rad_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,NaN,...,0.000299,25.431573,11.930365,12.2311,33.348344,1.561681,0.971445,25.015927,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,NaN,...,0.000325,25.399327,11.929900,12.2317,33.304090,1.561620,0.971164,24.982730,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,NaN,...,0.000299,25.368743,11.929458,12.2325,33.261697,1.561562,0.970892,24.950929,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,NaN,...,0.000328,25.339290,11.929038,12.2331,33.221199,1.561507,0.970629,24.920550,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,NaN,...,0.000328,25.310718,11.928641,12.2333,33.182631,1.561455,0.970374,24.891619,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,NaN,...,0.000314,25.919345,11.940576,12.2178,34.032375,1.563018,0.970129,25.529046,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,NaN,...,0.000305,25.964339,11.941371,12.2167,34.095039,1.563122,0.970374,25.576053,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,NaN,...,0.000327,26.010350,11.942183,12.2158,34.158708,1.563228,0.970629,25.623813,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,NaN,...,0.000327,26.056761,11.943010,12.2147,34.223321,1.563336,0.970892,25.672282,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,NaN,...,0.000299,26.103812,11.943853,12.2136,34.288818,1.563447,0.971164,25.721414,3.566508,NaN

In [63]:
net_rad = []

for i in range(61):
    netrad = fao.net_rad(net_in_sol[i],net_out_lw_rad[i])
    net_rad.append(netrad)

net_rad_df = pd.DataFrame({'net_rad' : net_rad})
data.net_rad = net_rad_df
data

,Date,Max,Min,Avg,day_of_the_year,sol_dec,latitude,longitude,altitude,net_rad,...,net_out_lw_rad,sol_rad,daylight_hours,sunshine hours,et_rad,sunset_hour_angle,ird,cs_rad,avp,latitud(rad)
0,1/6/2022,32,27,29.5,152,0.385005,1.288582,103.869204,9.108778,19.582012,...,0.000299,25.431573,11.930365,12.2311,33.348344,1.561681,0.971445,25.015927,3.566508,-0.02249
1,2/6/2022,33,27,30.0,153,0.387324,NaN,NaN,NaN,19.557156,...,0.000325,25.399327,11.929900,12.2317,33.304090,1.561620,0.971164,24.982730,3.566508,NaN
2,3/6/2022,31,25,28.0,154,0.389528,NaN,NaN,NaN,19.533633,...,0.000299,25.368743,11.929458,12.2325,33.261697,1.561562,0.970892,24.950929,3.168815,NaN
3,4/6/2022,32,25,28.5,155,0.391617,NaN,NaN,NaN,19.510926,...,0.000328,25.339290,11.929038,12.2331,33.221199,1.561507,0.970629,24.920550,3.168815,NaN
4,5/6/2022,32,25,28.5,156,0.393590,NaN,NaN,NaN,19.488925,...,0.000328,25.310718,11.928641,12.2333,33.182631,1.561455,0.970374,24.891619,3.168815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,27/7/2022,32,26,29.0,208,0.332934,NaN,NaN,NaN,19.957582,...,0.000314,25.919345,11.940576,12.2178,34.032375,1.563018,0.970129,25.529046,3.362540,NaN
57,28/7/2022,33,28,30.5,209,0.328795,NaN,NaN,NaN,19.992236,...,0.000305,25.964339,11.941371,12.2167,34.095039,1.563122,0.970374,25.576053,3.781168,NaN
58,29/7/2022,32,25,28.5,210,0.324559,NaN,NaN,NaN,20.027643,...,0.000327,26.010350,11.942183,12.2158,34.158708,1.563228,0.970629,25.623813,3.168815,NaN
59,30/7/2022,32,25,28.5,211,0.320227,NaN,NaN,NaN,20.063379,...,0.000327,26.056761,11.943010,12.2147,34.223321,1.563336,0.970892,25.672282,3.168815,NaN
60,31/7/2022,32,27,29.5,212,0.315800,NaN,NaN,NaN,20.099637,...,0.000299,26.103812,11.943853,12.2136,34.288818,1.563447,0.971164,25.721414,3.566508,NaN

In [64]:
data.to_csv('rubaitvaiupdate.csv',index=False)